* {
    text-decoration: none;
    color:red;
}

.navBar{
    background-color: #0a1612;
    height: 7vh;
    display: grid;
    grid-template-columns: repeat(3, 0.5fr);
}

.app {
    background-color:#ecf0f1
}

.gray{
    background-color: gray;
}



